/*Formatação Geral*/
@font-face {
    font-family: "manier";
    src: url("../font/Manier-Medium-Trial.otf") format("opentype");
  }
@font-face {
    font-family: "tt-commons";
    src: url("../font/tt_commons_pro_regular.otf") format("opentype");
}
:root {
    --body-color:#ddd0c8;
    --body-font:tt-commons;
    --secundary-font:manier;
}
body {
    background-color: var(--body-color);
    font-family: var(--body-font);
}
.bord{border: 1px solid red;}
/*Barra de Navegação*/
.otherfont{
    font-family:Arial;
}
.navbar{
   margin-top: 36px;
   margin-left: 0;
   position: relative;
}
.navbar-head{
    font-family: var(--secundary-font);
    letter-spacing:4px;
    font-size: 30px;
}
.dropdown-button{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%,-50%);
}

.navbar-menus-section{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    right:-37.5%;
    width:75% ;
    border: px solid green;
}
.navbar-menus-ul{
    float: right;
    margin: 0; padding: 0;
    border: px solid #000;
}
.navbar-menu{
    display: inline-block;
    margin-left: 40px;
}
.bag-icon{
    position: absolute;
    margin-top: 1px;

}
ul,section,div,nav{
    border: px solid red;
}
